<form action='' method='post' enctype="multipart/form-data">
		
DokumentTitel:<br /> <textarea name='DokumentTitel'></textarea><br /><br />
Datum:<br /> <input type="date" name="datum"><br /><br />
		
<h2>Bitte wählen Sie die Kategorie aus:</h2>
<select name='KategorieNr'>
<option value='1'>Poesie</option>
<option value='2'>Monografisch</option>
<option value='3'>Geschichte</option>
</select>

<h2>Bitte wählen Sie die status aus:</h2>
<select name='StatusNr'>
<option value='1'>Es geliehen</option>
<option value='2'>Es ist im Laden</option>
<option value='3'>Wir haben es</option>
</select>
	
<br /><br />
<input type="file" name="uploaddatei" />		
	
<br /><br /><input type='submit' name='paket_versenden' value='Paket versenden'/>
		
<br /><br /></form>