
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
     <meta charset="utf-8" />
	 <link href="style.css" rel="stylesheet" type="text/css" >
</head>

<body>

<br>
Hallo, Herzliche willkommen
<hr />

 <div class="container">
<div class="pull_left">
<h1>Easy Peasy</h1><a href="https://www.agclassroom.org/ny/resources/pdf/activities/k/animals.pdf" target="_blanck">Lesen Sie Ihr Lieblingsbuch(PDF) </a>
</div>

<div class="pull_right">
<img src="images/2.png" width="300" />
</div>


<br>
<img src="images/4.PNG" width="1000" />
<br>
<img src="images/5.PNG" width="1000" />
<br>
<img src="images/8.PNG" width="1000" />
<br>
<img src="images/3.PNG" width="1000" />
<br>
<img src="images/6.PNG" width="1000" />

<hr /><hr />

<a>Gefunden auf Easy-Peasy.de ...</a>

<hr /><hr />

Echte Dateisystemarchivierung auf Basis der patentierten windream VFS-Technologie:
<hr />
Häufig benötigen Unternehmen und Institutionen, insbesondere aber
kleinere Büros, nicht unbedingt den kompletten Funktionsumfang von 
ECM. Diese Organisationen möchten nur Dokumente und andere 
Informationen sicher archivieren. Mit dem Archivierungsmodul 
windream Dateisystem entscheiden sich Anwender dieser 
Unternehmen für ein modernstes Produkt, das jederzeit durch  
gezielte Systemerweiterungen erweitert werden kann

</div>

</div>

</body>
</html>